<%= link_to "Nova Kategorija", categories_new_path, class: "btn btn-success" %>
<div class="page-header head-page">
  <h1>Kategorije</h1>
</div>

<div class="list-group">
  <% @categories.each do |cat| %>
      <%= link_to cat.id.to_s+". "+cat.title, category_path(cat.id), class: 'list-group-item' %>
  <% end %>
</div>
